.main--cryptocurrency-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
	padding: 40px;
}

#cryptocurrency-logo {
	height: 20px;
	width: 20px;
}
