.main {
	display: block;
}

.main--cryptocurrency_page {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
	padding: 40px 40px 20px;
}

.main__cryptocurrency-content-page {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 5px;
}

.main__cryptocurrency {
	width: 210px;
	padding: 20px 5px;
	margin-top: 20px;
	border: 1px solid #000;
	border-radius: 15px;
	background-color: #fff;
	transition: background-color 0.3s ease;
}

.main__cryptocurrency:hover {
	background-color: rgba(116, 116, 116, 0.3);
}

.main__cryptocurrency-header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.main__cryptocurrency-link {
	text-decoration: none;
	color: #000;
}

.main__cryptocurrency-logo {
	width: 20px;
	height: 20px;
}

.main__cryptocurrency-name {
	font-weight: bold;
}

.main__cryptocurrency-subname {
	color: #979797;
}

.main__cryptocurrency-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;
	margin-top: 5px;
}

/* .main__cryptocurrency-price {
} */

.main__cryptocurrency-percentage-change {
	font-size: 12px;
}
